@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Serif+Display:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #425C47;
    
    
}


/* Heading and Logos*/

h1  {
    font-family: 'Noto Serif Display', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fafafa;
    background-color: rgba(53, 82, 58, .7);
}

#logo {
    float: left;
    font-size: 300%;
    margin: 10px 0 0 30px;
    border-radius: 5px;
    padding: 10px;
}

#menu {
    font-family: 'Noto Serif Display', sans-serif;
    font-size: 130%;
    letter-spacing: 5px;
    background-color: rgba(53, 82, 58, .7);
    color: #fafafa;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin:10px 70px 0 0;
    
    
    
}
#menu a {
    background-color: rgba(53, 82, 58, .9);
    color: #fafafa;
    text-decoration: none;
    border-radius: 5px;
    height: 10px;
    width: 15px;
    padding: 5px;
    
}

#menu a:hover {
    color: #ffd500;
}

.active {
    border-bottom: 1px solid #425C47;
}
 
/* hero image*/

#hero-outer {
    height: 600px;
    width: 100%;
    
    
    
}

#hero-image {
    background: url('../images/golf-image-04.jpeg') no-repeat center center;
    height: 600px;
    width: 100%;
}

#focus {
    height: 400px;
}

#cover-text {
    font-size: 90%;
    font-family: 'Noto Serif Display', sans-serif;
    font-weight: 300;
    
    letter-spacing: 4px;

    width: 270px;
    height: 150px;
    border-radius: 10px;

    padding: 10px;


    color: #fafafa;
    background-color: rgba(251, 197, 0, .5);

    bottom: 300px;
    left:  50px;

    position: absolute;
}



/* Welcome text style */

#welcome-msg {
    
    color: #425C47;
    text-align: center;
    font-family: 'Noto Serif Display', sans-serif;
    font-size: 170%;
    font-weight: 800;
    width: 60%;
    
    margin: 10px auto 0;
    
}

/* Home Page Image */

#home-page-image {
    background: url('../images/golf-image-03.jpg')no-repeat center center;

    height: 600px;
    width: 600px;

    border-radius: 10px;

    padding: 20px;
    margin: 20px auto;
}


/* footer */

footer {
    height: 5%;
    background-color: #425C47;
    margin: 20px 0 0;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #ffd500;    
}

.social-networks i:hover {
    color: #fafafa;
}

/* About page */

#about-msg {
    color: #425C47;
    text-align: center;
    font-family: 'Noto Serif Display', sans-serif;
    font-size: 170%;
    font-weight: 800;
    width: 80%;
    
    
    margin: 10px auto 0;
}

#golf-courses {
    text-decoration: underline;
    color: #ffd500;
    background-color: rgb(53, 82, 58);
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
}


/* Form */


form {
    font-size: 150%;
    
    text-align: center;
    
    background-color: #425C47;
    color: #ffd500;
    width: 500px;
    height: 400px;
    padding: 5px;
    border-radius: 5px;
    margin: 7% 35%;
}

.join-button {
    font-size: 150%;
    color: #425C47;
    background-color: #ffd500;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    transition: transform 0.2s;
}

.join-button:hover {
    transform: scale(1.1);
    color: #fafafa;
}



